name: Despliegue Continuo a EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout del código
      uses: actions/checkout@v3

    - name: Desplegar en EC2 vía SSH
      uses: appleboy/ssh-action@v1.0.0
      with:
        host: ${{ secrets.HOST_DNS }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.EC2_SSH_KEY }}
        script: |
          # 1. Instalar Git si no está (por seguridad)
          sudo apt-get install -y git
          
          # 2. Entrar en la carpeta o clonar si no existe
          # IMPORTANTE: Cambia "TU_USUARIO" por tu nombre real de GitHub abajo
          if [ -d "tienda-ropa-proyecto" ]; then
            cd tienda-ropa-proyecto
            git pull origin main
          else
            git clone https://github.com/FranJJL05/proyecto_navidad
            cd tienda-ropa-proyecto
          fi
          
          # 3. Limpieza: Parar y borrar el contenedor viejo (si existe)
          # El "|| true" evita que falle si no existe el contenedor
          docker stop tienda-container || true
          docker rm tienda-container || true
          
          # 4. Construir la nueva imagen
          docker build -t tienda-img .
          
          # 5. Arrancar el nuevo contenedor (LA CLAVE ESTÁ AQUÍ)
          # -d: Segundo plano
          # -p 80:8080: Redirige tráfico del puerto 80 (Amazon) al 8080 (Tu Docker)
          # --restart unless-stopped: Si se cae, se levanta solo
          docker run -d -p 80:8080 --name tienda-container --restart unless-stopped tienda-img